<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fernanda TI</title>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="../public/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>

    <div class="container text-center my-5">
        <!-- Botões com imagens -->
        <div class="row">
            <div class="col-6 col-md-3 mb-4">
                <a href="../views/cadastro.html" class="d-block">
                    <img src="../public/img/clientes.png" alt="Cadastro de clientes" title="Cadastro de clientes" class="img-fluid rounded shadow">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="../views/os.html" class="d-block">
                    <img src="../public/img/os.png" alt="Emissão de OS" title="Emissão de OS" class="img-fluid rounded shadow">
                </a>
            </div>
            <!-- Nova imagem Manutenção -->
            <div class="col-6 col-md-3 mb-4">
                <a href="../views/manutencao.html" class="d-block">
                    <img src="../public/img/manutencao.png" alt="Manutenção" title="Manutenção" class="img-fluid rounded shadow">
                </a>
            </div>
            <!-- Nova imagem Eletrodoméstico -->
            <div class="col-6 col-md-3 mb-4">
                <a href="../views/eletrodomestico.html" class="d-block">
                    <img src="../public/img/eletrodomestico.png" alt="Eletrodoméstico" title="Eletrodoméstico" class="img-fluid rounded shadow">
                </a>
            </div>
            <!-- Suporte e Atendimento ao Cliente -->
            <div class="col-6 col-md-3 mb-4">
                <a href="../views/suporte.html" class="d-block">
                    <img src="../public/img/suporte.png" alt="Suporte e Atendimento ao Cliente" title="Suporte e Atendimento ao Cliente" class="img-fluid rounded shadow">
                </a>
            </div>
            <!-- Relatórios e Histórico -->
            <div class="col-6 col-md-3 mb-4">
                <a href="../views/relatorios.html" class="d-block">
                    <img src="../public/img/relatorio.png" alt="Relatórios e Histórico" title="Relatórios e Histórico" class="img-fluid rounded shadow">
                </a>
            </div>
            <!-- Usuários e Permissões -->
            <div class="col-6 col-md-3 mb-4">
                <a href="../views/usuariospermitido.html" class="d-block">
                    <img src="../public/img/usurairo.png" alt="Usuários e Permissões" title="Usuários e Permissões" class="img-fluid rounded shadow">
                </a>
            </div>
            <!-- Link para ver a lista de clientes -->
            <div class="col-6 col-md-3 mb-4">
                <a href="../views/clientes.html" class="d-block">
                    <img src="../public/img/clienteadd.png"alt="Ver Clientes Cadastrados" title="Ver Clientes Cadastrados" class="img-fluid rounded shadow">
                </a>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-2">
        <!-- Exibindo a data no rodapé -->
        <p id="DataAtual"></p>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Script para exibir a data no rodapé -->
    <script>
        // Função para formatar a data
        function formatarData() {
            const hoje = new Date();
            const opcoes = { year: 'numeric', month: 'long', day: 'numeric', weekday: 'long' };
            let dataFormatada = hoje.toLocaleDateString('pt-BR', opcoes);
            return dataFormatada;
        }

        // Exibindo a data no rodapé
        const dataElemento = document.getElementById('dataatual');
        dataElemento.innerHTML = formatarData();
    </script>

</body>

</html>