<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Manutenção</title>
    <link rel="stylesheet" href="../public/css/manutencao.css">
</head>

<body>
    <header>
        <h1>Registro de Manutenção</h1>
    </header>

    <section>
        <form action="registro.html" method="GET" onsubmit="salvarRegistro()">
            <label for="motivo_manutencao">Motivo da Manutenção:</label><br>
            <textarea id="motivo_manutencao" name="motivo_manutencao" rows="4" cols="50" required></textarea><br><br>

            <label for="data_manutencao">Data da Manutenção:</label><br>
            <input type="date" id="data_manutencao" name="data_manutencao" required><br><br>

            <label for="tecnico">Técnico Responsável:</label><br>
            <input type="text" id="tecnico" name="tecnico" required><br><br>

            <button type="submit">Registrar Manutenção</button>
        </form>

        <!-- Botão Voltar ao Início -->
        <div class="form-buttons">
            <a href="../views/index.html">
                <button type="button" class="btn btn-warning">Voltar ao Início</button>
            </a>    
        </div>
    </section>

    <footer>
        <p id="dataatual"></p>
    </footer>

    <script>
        // Função para salvar os dados no localStorage antes de redirecionar
        function salvarRegistro() {
            const motivo = document.getElementById('motivo_manutencao').value;
            const data = document.getElementById('data_manutencao').value;
            const tecnico = document.getElementById('tecnico').value;

            let registros = JSON.parse(localStorage.getItem('registros_manutencao')) || [];
            registros.push({ motivo, data, tecnico });

            localStorage.setItem('registros_manutencao', JSON.stringify(registros));
        }

        // Função para formatar a data
        function formatarData() {
            const hoje = new Date();
            const opcoes = { year: 'numeric', month: 'long', day: 'numeric', weekday: 'long' };
            let dataFormatada = hoje.toLocaleDateString('pt-BR', opcoes);
            return dataFormatada;
        }

        // Exibindo a data no rodapé
        const dataElemento = document.getElementById('dataatual');
        dataElemento.innerHTML = formatarData();
    </script>
</body>

</html>
