<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/sobre.css">

    <!-- Impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistência Técnica de Eletrodomésticos - Fernanda TI</title>
</head>

<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center">
                <h1 class="display-4 text-primary">FERNANDA - TI</h1>
                <h2 class="text-secondary">Assistência Técnica de Eletrodomésticos</h2>
                <p class="lead">Sistema para Emissão de Ordens de Serviço (OS) para Eletrodomésticos</p>
                <p><strong>Autor:</strong> Fernanda Batista</p>
                <p><strong>Sob a Licença MIT</strong></p>
            </div>
        </div>
    </div>

    <!-- Rodapé -->
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2025 Fernanda TI - Todos os direitos reservados</p>
    </footer>

    <!-- Bootstrap JS (necessário para funcionalidades interativas do Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
