<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../public/css/style.css">

    <!--Impedir a execução de scripts externos ou não autorizados-->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistência Técnica de Eletrodomésticos - Fernanda TI</title>
</head>
<body>
    <div class="container">
        <h1>VITOR TI - Sistema de Assistência Técnica</h1>
        <p>Sistema para Emissão de Ordens de Serviço (OS) para Eletrodomésticos</p>
        <p>Autor: Fernanda Batista</p>
        <p>Sob a Licença MIT</p>
    </div>

    <!--Bootstrap-->
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>
