<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Usuário</title>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="../public/css/usuariopermitido.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

    <div class="container my-5">
        <div class="row">
            <div class="col">
                <h2>Detalhes do Usuário</h2>
                <p><strong>Nome:</strong> João Silva</p>
                <p><strong>Email:</strong> joao@exemplo.com</p>
                <p><strong>Permissão:</strong> Administrador</p>

                <!-- Caixa de Pesquisa -->
                <div class="mb-3">
                    <label for="search" class="form-label">Pesquisar Administradores</label>
                    <input type="text" id="search" class="form-control" placeholder="Digite o nome ou ID">
                </div>


                <!-- Botão Adicionar Administrador -->
                <div class="mb-3">
                    <a href="adicionar_adm.html" class="btn btn-primary">Adicionar Administrador</a>
                </div>
                <!-- Botão Adicionar Usurario -->
                <div class="mb-3">
                    <a href="adicionar_usu.html" class="btn btn-primary">Adicionar Funcionários</a>
                </div>

                <!-- Botão de Voltar -->
                <a href="../views/index.html" class="btn btn-secondary">Voltar para o Início</a>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-2">
        <!-- Exibindo a data no rodapé -->
        <p id="dataatual"></p>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Script para exibir a data no rodapé -->
    <script>
        // Função para formatar a data
        function formatarData() {
            const hoje = new Date();
            const opcoes = { year: 'numeric', month: 'long', day: 'numeric', weekday: 'long' };
            let dataFormatada = hoje.toLocaleDateString('pt-BR', opcoes);
            return dataFormatada;
        }

        // Exibindo a data no rodapé
        const dataElemento = document.getElementById('dataatual');
        dataElemento.innerHTML = formatarData();
    </script>

</body>

</html>
