/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Container principal */
.container {
    max-width: 600px;
    background: #fff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;  /* Faz a seção ocupar o restante do espaço */
}

/* Títulos */
h1 {
    text-align: center;
    color: #333;
}

/* Estilo dos inputs */
.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Botões */
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.btn-success {
    background-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
}

/* Mensagem após envio */
#mensagemEnviada {
    display: none;
    text-align: center;
    color: green;
    margin-top: 15px;
}
/* Botão de Voltar ao Início */
.btn-warning {
    background-color: #D3D3D3;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-warning:hover {
    background-color:#D3D3D3;
}



/* Rodapé */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
