/* Barra de rodapé */
footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Estilo básico para os botões */
.btn {
    border-radius: 5px;
    padding: 10px 20px;
}

/* Estilo para a tabela de atendimento */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f8f9fa;
}

table td a {
    color: #007bff;
    text-decoration: none;
}

table td a:hover {
    text-decoration: underline;
}
